[push]
autoSetupRemote = true

[includeIf "gitdir:~/work/codestory/"]
path = ~/dotfiles/.config/git/codestory/.gitconfig

[includeIf "gitdir:~/projects/"]
path = ~/.config/git/personal/.gitconfig

[alias]
main-branch = !git symbolic-ref refs/remotes/origin/HEAD | cut -d '/' -f4
fomo = !git fetch origin $(git main-branch) && git rebase origin/$(git main-branch) --autostash
